name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  TAGS: "-tags=czmq4"

jobs:
  main:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        go-version: [1.20.x, 1.19.x]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Install Linux packages
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update -qq -y
          sudo apt-get install -y libsodium-dev libczmq-dev

      - name: go install
        run: GOARCH=amd64 go install -v $TAGS ./...

      - name: Test Linux
        run: ./.ci/code-coverage.sh

      - name: Verify code formatting
        run: |
          test -z $(gofmt -l .)

      - name: Run linter
        uses: dominikh/staticcheck-action@v1
        with:
          install-go: false
          cache-key: ${{ matrix.platform }}
          version: "2023.1"

      - name: Upload code coverage
        uses: codecov/codecov-action@v1
